* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  width: 100%;
  min-height: 100vh; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #cbced2;
  background-attachment: fixed;
  padding: 30px 0; }

.maincontent {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px; }

.swiper-container {
  width: 100%; }

.intro {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #232428;
  width: 100%;
  padding: 0;
  margin: 0; }

.preview {
  max-width: 1200px; }

.intro__slider {
  width: 100%; }

.intro__slide {
  width: 100%; }
