* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  width: 100%;
  min-height: 100vh; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #cbced2;
  background-attachment: fixed;
  padding: 30px 0; }

.maincontent {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.container {
  margin: 0 auto;
  max-width: 1170px;
  position: relative;
  padding: 0; }

.col-10 {
  min-width: 1030px; }

.btn {
  text-transform: uppercase;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  border: none;
  cursor: pointer; }

.btn--video {
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #49a0d5;
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 0.875rem;
  padding: 17px 33px; }

.intro__slider {
  position: relative;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0; }

.intro__slide {
  position: relative;
  z-index: 1;
  -webkit-border-radius: 6px;
          border-radius: 6px; }

.intro__img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  -webkit-filter: blur(4px) opacity(50%);
          filter: blur(4px) opacity(50%); }

.prev,
.next {
  z-index: 3;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42px;
  height: 42px;
  margin: 0;
  cursor: pointer;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.35);
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.slick-disabled {
  color: rgba(255, 255, 255, 0.35); }

.prev {
  left: 70px; }

.next {
  right: 70px; }

.slick-dots {
  bottom: 30px; }
  .slick-dots li {
    width: 9px;
    height: 9px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: none;
    border: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.35); }
  .slick-dots .slick-active {
    width: 9px;
    height: 9px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 2px solid #fff; }

.video__wrapper {
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  cursor: pointer;
  width: 630px; }

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 94px;
  height: 94px;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
  z-index: 4; }
  .play__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    cursor: pointer; }

.fa-play {
  position: relative;
  font-size: 2.1rem;
  color: #fff;
  margin-left: 2px;
  z-index: 4; }

.btn {
  text-transform: uppercase;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  border: none;
  cursor: pointer; }

.btn--video {
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #49a0d5;
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 0.875rem;
  padding: 17px 33px; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 28px 70px 0;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__title {
  display: none; }

/*
** NAVIGATION
**/
.nav, .nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }
  .nav__list {
    list-style-type: none;
    padding: 0;
    margin: 0 33px 0; }
  .nav__item {
    margin-left: 17px;
    white-space: nowrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
    .nav__item:first-child {
      margin: 0; }
    .nav__item span {
      color: #fff;
      font-weight: 300;
      font-size: 0.7rem;
      margin-right: 17px; }
  .nav__link {
    display: block;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-decoration: none; }
    .nav__link:focused {
      font-weight: 300; }

.intro {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 0;
  margin: 0;
  background-color: #232428;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative; }

.intro__title {
  display: none; }

.storage {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 0;
  margin: 0;
  background-color: #f7f7f9;
  padding: 23px 10px 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 0 30px; }

.storage__heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0 0 17px;
  padding: 0; }

.storage__title {
  padding: 0;
  margin: 0 21px;
  color: #454553;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase; }

.storage-next,
.storage-prev {
  color: rgba(69, 69, 83, 0.5);
  cursor: pointer; }

.storage__slider {
  width: 100%; }

.storage__slide {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }
  .storage__slide:nth-child(3n) .storage__item--descr {
    border: none; }

.storage__item {
  padding: 0;
  margin-right: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }

.storage__item--descr {
  margin-top: 14px;
  -moz-text-align-last: left;
       text-align-last: left;
  padding-right: 50px;
  border-right: 1px solid #dddde4; }

.storage__item-category {
  color: #454553;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  padding: 0;
  margin: 0 0 9px; }

.storage__item-status {
  display: inline-block;
  text-decoration: none;
  margin: 0 0 17px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 6px 10px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 0.688rem; }
  .storage__item-status#new {
    background-color: #f2a77e; }
  .storage__item-status#best {
    background-color: #b9aada; }
  .storage__item-status#bio {
    background-color: #bbcc76; }

.storage__item-name {
  color: #454553;
  font-family: "Lato", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  white-space: nowrap;
  padding: 0;
  margin: 0 0 20px; }

.buy--btn {
  display: inline-block;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  border: 1.5px solid rgba(69, 69, 83, 0.3);
  margin: 0;
  padding: 7px 21px;
  text-decoration: none;
  color: #454553;
  background: transparent;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  white-space: nowrap; }

.select {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 0;
  margin: 0;
  background-color: #454553;
  margin: 0 0 30px 0;
  padding: 20px 40px 20px 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.select__title {
  padding: 0;
  margin: 0 5px 0 0;
  color: #a1a1af;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  white-space: nowrap; }
  .select__title span {
    margin-left: 5px; }

.select__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0;
  position: relative;
  z-index: 99;
  padding: 12px 60px 12px 0;
  border-right: 1px solid #5f5f6f; }
  .select__wrapper:hover {
    -webkit-box-shadow: 0px 0px 3px gray;
            box-shadow: 0px 0px 3px gray; }

select {
  min-width: 82px;
  padding-right: 10px;
  margin: 0;
  background: url("../img/arrow-down.png") right center no-repeat #454553;
  background-attachment: initial;
  border: 0;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 0.688rem;
  font-weight: 700;
  text-transform: uppercase;
  appearance: none;
  /* remove arrow        */
  -webkit-appearance: none;
  /* remove arrow Chrome */
  -moz-appearance: none;
  /* remove arrow FF     */ }

.select__wrapper select::-ms-expand {
  display: none;
  /* remove arrow IE     */ }

.sort__list {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0 0 0 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  list-style-type: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.sort__link {
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28px;
  height: 28px;
  color: #a1a1af;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: color .3s ease-out;
  -o-transition: color .3s ease-out;
  transition: color .3s ease-out; }
  .sort__link:hover {
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 0.125rem solid #49a0d5;
    color: #fff;
    font-weight: 900; }

.news {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 1170px; }

.news__title {
  display: none; }

.news__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  margin-right: 30px; }
  .news__card:last-child {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin: 0; }
  .news__card img {
    display: block; }

.news__card--cars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap; }

.news__card-category {
  position: absolute;
  display: block; }
  .news__card-category span {
    display: block;
    height: 12px;
    width: 12px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin: 0;
    padding-right: 4px; }

.cars-category {
  left: 29px;
  bottom: 22px; }

.card-descr--cars {
  background-color: #f7f7f9; }

.news__card-testimonials {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .news__card-testimonials h4 {
    padding: 0;
    margin: 0; }
