* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  width: 100%;
  min-height: 100vh; }

html,
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

body {
  padding: 30px 0;
  background: #cbced2; }
  @media screen and (max-width: 1170px) {
    body {
      padding: 0; } }

.maincontent {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.container {
  margin: 0 auto;
  max-width: 1170px;
  position: relative;
  padding: 0;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: none; }
  @media screen and (max-width: 1170px) {
    .container {
      max-width: 100%;
      padding: 15px; } }

@media screen and (max-width: 1024px) {
  .intro,
  .news,
  .paginator,
  .storage,
  .video {
    margin-bottom: 20px; } }

.btn {
  text-transform: uppercase;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  border: none;
  cursor: pointer; }

.btn--video {
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #49a0d5;
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 0.875rem;
  padding: 17px 33px;
  -webkit-transition: color, background-color, -webkit-box-shadow 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: color, background-color, -webkit-box-shadow 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: color, background-color, box-shadow 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: color, background-color, box-shadow 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: color, background-color, box-shadow 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-box-shadow 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  @media screen and (max-width: 1024px) {
    .btn--video {
      bottom: 66px; } }
  @media screen and (max-width: 958px) {
    .btn--video {
      font-size: 0.8rem;
      padding: 14px 29px;
      bottom: 60px; } }
  @media screen and (max-width: 768px) {
    .btn--video {
      bottom: 50px;
      font-size: 0.6rem;
      padding: 9px 20px; } }
  .btn--video:hover {
    background-color: #fff;
    color: #7b91af;
    -webkit-box-shadow: 0 5px 20px rgba(168, 173, 187, 0.8);
            box-shadow: 0 5px 20px rgba(168, 173, 187, 0.8); }

.intro__slider {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0; }

@media screen and (max-width: 1024px) {
  .slick-dotted.slick-slider {
    margin-bottom: 0; } }

.intro__slide {
  position: relative;
  z-index: 1;
  -webkit-border-radius: 6px;
          border-radius: 6px; }

.intro__img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  -webkit-filter: blur(4px) opacity(50%);
          filter: blur(4px) opacity(50%); }

.prev,
.next {
  z-index: 3;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42px;
  height: 42px;
  margin: 0;
  cursor: pointer;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.35);
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  @media screen and (max-width: 768px) {
    .prev,
    .next {
      display: none; } }

.slick-disabled {
  color: rgba(255, 255, 255, 0.35); }

.prev {
  left: 70px; }
  @media screen and (max-width: 682px) {
    .prev {
      left: 40px; } }

.next {
  right: 70px; }
  @media screen and (max-width: 682px) {
    .next {
      right: 40px; } }

.slick-dots {
  bottom: 30px; }
  @media screen and (max-width: 768px) {
    .slick-dots {
      bottom: 20px; } }
  @media screen and (max-width: 612px) {
    .slick-dots {
      bottom: 10px; } }
  .slick-dots li {
    width: 9px;
    height: 9px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: none;
    border: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.35); }
  .slick-dots .slick-active {
    width: 9px;
    height: 9px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 2px solid #fff; }

.video__wrapper {
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  cursor: pointer;
  width: 630px; }
  @media screen and (max-width: 768px) {
    .video__wrapper {
      top: 72px;
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0); } }
  @media screen and (max-width: 672px) {
    .video__wrapper {
      width: 100%;
      height: auto; } }
  @media screen and (max-width: 484px) {
    .video__wrapper {
      top: 42px; } }

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 94px;
  height: 94px;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
  z-index: 4; }
  .play__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    cursor: pointer; }

.fa-play {
  position: relative;
  font-size: 2.1rem;
  color: #fff;
  margin-left: 2px;
  z-index: 4; }

.btn {
  text-transform: uppercase;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  border: none;
  cursor: pointer; }

.btn--video {
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #49a0d5;
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 0.875rem;
  padding: 17px 33px;
  -webkit-transition: color, background-color, -webkit-box-shadow 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: color, background-color, -webkit-box-shadow 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: color, background-color, box-shadow 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: color, background-color, box-shadow 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: color, background-color, box-shadow 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-box-shadow 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  @media screen and (max-width: 1024px) {
    .btn--video {
      bottom: 66px; } }
  @media screen and (max-width: 958px) {
    .btn--video {
      font-size: 0.8rem;
      padding: 14px 29px;
      bottom: 60px; } }
  @media screen and (max-width: 768px) {
    .btn--video {
      bottom: 50px;
      font-size: 0.6rem;
      padding: 9px 20px; } }
  .btn--video:hover {
    background-color: #fff;
    color: #7b91af;
    -webkit-box-shadow: 0 5px 20px rgba(168, 173, 187, 0.8);
            box-shadow: 0 5px 20px rgba(168, 173, 187, 0.8); }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 28px 70px 0;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .header {
      padding: 25px 40px 0; } }

@media screen and (max-width: 484px) {
  .logo {
    width: 30px; } }

.header__title {
  display: none; }

/*
** NAVIGATION
**/
.nav, .nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }
  .nav__list {
    list-style-type: none;
    padding: 0;
    margin: 0 33px 0; }
    @media screen and (max-width: 768px) {
      .nav__list {
        margin: 0 15px 0; } }
  .nav__item {
    margin-left: 17px;
    white-space: nowrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
    .nav__item:first-child {
      margin: 0; }
    .nav__item span {
      color: #fff;
      font-weight: 300;
      font-size: 0.7rem;
      margin-right: 17px; }
  .nav__link {
    display: block;
    color: #75767a;
    font-family: "Lato", sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-decoration: none; }
    .nav__link:focus {
      color: #fff; }

.intro {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 0;
  margin: 0;
  background-color: #232428;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative; }
  @media screen and (max-width: 1024px) {
    .intro {
      margin-bottom: 20px; } }

.intro__title {
  display: none; }

.top__video {
  width: 630px;
  height: 399px; }
  @media screen and (max-width: 910px) {
    .top__video {
      width: 500px;
      height: 316.5px; } }
  @media screen and (max-width: 790px) {
    .top__video {
      width: 450px;
      height: 284.85px; } }
  @media screen and (max-width: 768px) {
    .top__video {
      width: 90%;
      height: auto;
      min-height: 100%; } }
  @media screen and (max-width: 484px) {
    .top__video {
      width: 100%;
      height: auto;
      min-height: 100%; } }
  @media screen and (max-width: 395px) {
    .top__video {
      width: 100%;
      height: 100%; } }

.storage {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 0;
  margin: 0;
  background-color: #f7f7f9;
  padding: 23px 10px 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 0 30px; }
  @media screen and (max-width: 1024px) {
    .storage {
      margin-bottom: 20px; } }
  @media screen and (max-width: 528px) {
    .storage {
      padding-bottom: 25px; } }

.storage__heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0 0 17px;
  padding: 0; }

.storage__title {
  padding: 0;
  margin: 0 21px;
  color: #454553;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase; }

.storage-next,
.storage-prev {
  color: rgba(69, 69, 83, 0.5);
  cursor: pointer; }

.storage__slider {
  width: 100%;
  padding: 0 30px; }
  @media screen and (max-width: 608px) {
    .storage__slider {
      padding: 0; } }

.storage__slide {
  width: 33%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }
  .storage__slide:nth-child(3n) .storage__item--descr {
    border: none; }
  @media screen and (max-width: 768px) {
    .storage__slide {
      width: 45%; } }

.storage__item {
  padding: 0;
  margin-right: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }
  .storage__item img {
    -webkit-flex-basis: 100px;
        -ms-flex-preferred-size: 100px;
            flex-basis: 100px;
    width: 150px;
    height: auto;
    display: block; }
    @media screen and (max-width: 1024px) {
      .storage__item img {
        width: 110px;
        height: -webkit-calc(120px*1.2);
        height: calc(120px*1.2); } }
    @media screen and (max-width: 768px) {
      .storage__item img {
        width: 150px;
        height: auto; } }
    @media screen and (max-width: 600px) {
      .storage__item img {
        width: 130px;
        height: 100%; } }
  @media screen and (max-width: 528px) {
    .storage__item {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.storage__item--descr {
  margin-top: 14px;
  -moz-text-align-last: left;
       text-align-last: left;
  padding-right: 50px;
  border-right: 1px solid #dddde4; }
  @media screen and (max-width: 1024px) {
    .storage__item--descr {
      border: none; } }

.storage__item-category {
  color: #454553;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  padding: 0;
  margin: 0 0 9px; }
  @media screen and (max-width: 600px) {
    .storage__item-category {
      margin-bottom: 5px; } }

.storage__item-status {
  display: inline-block;
  text-decoration: none;
  margin: 0 0 17px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 6px 10px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 0.688rem; }
  @media screen and (max-width: 768px) {
    .storage__item-status {
      margin-bottom: 10px; } }
  @media screen and (max-width: 600px) {
    .storage__item-status {
      margin-bottom: 5px; } }
  .storage__item-status--new {
    background-color: #f2a77e; }
  .storage__item-status--best {
    background-color: #b9aada; }
  .storage__item-status--bio {
    background-color: #bbcc76; }

.storage__item-name {
  color: #454553;
  font-family: "Lato", sans-serif;
  font-size: 1.175rem;
  font-weight: 400;
  white-space: nowrap;
  padding: 0;
  margin: 0 0 15px; }
  @media screen and (max-width: 600px) {
    .storage__item-name {
      font-size: 1rem;
      margin-bottom: 10px; } }

.buy--btn {
  display: inline-block;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  border: 1.5px solid rgba(69, 69, 83, 0.3);
  margin: 0;
  padding: 7px 21px;
  text-decoration: none;
  color: #454553;
  background: transparent;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  white-space: nowrap; }

.select {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 0;
  margin: 0;
  background-color: #454553;
  margin: 0 0 30px 0;
  padding: 20px 40px 20px 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 1024px) {
    .select {
      margin-bottom: 20px; } }
  @media screen and (max-width: 768px) {
    .select {
      padding: 15px; } }

.select__title {
  padding: 0;
  margin: 0 5px 0 0;
  color: #a1a1af;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  white-space: nowrap; }
  .select__title span {
    margin-left: 5px; }

.select__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0;
  position: relative;
  z-index: 99;
  padding: 12px 60px 12px 0;
  border-right: 1px solid #5f5f6f; }
  @media screen and (max-width: 1024px) {
    .select__wrapper {
      padding-right: 30px; } }
  @media screen and (max-width: 768px) {
    .select__wrapper {
      padding: 10px 15px 10px 0; } }

select {
  min-width: 82px;
  padding-right: 10px;
  margin: 0;
  background: url("../img/arrow-down.png") right center no-repeat #454553;
  background-attachment: initial;
  border: 0;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 0.688rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  appearance: none;
  /* remove arrow        */
  -webkit-appearance: none;
  /* remove arrow Chrome */
  -moz-appearance: none;
  /* remove arrow FF     */ }

.select__wrapper select::-ms-expand {
  display: none;
  /* remove arrow IE     */ }

.sort__list {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0 0 0 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  list-style-type: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 1024px) {
    .sort__list {
      padding: 0 15px; } }
  @media screen and (max-width: 1024px) {
    .sort__list {
      padding-right: 0; } }

.sort__link {
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: #a1a1af;
  font-family: "Lato", sans-serif;
  font-size: 0.775rem;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: color .3s ease-out;
  -o-transition: color .3s ease-out;
  transition: color .3s ease-out; }
  .sort__link:hover {
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 0.125rem solid #49a0d5;
    color: #fff;
    font-weight: 900; }

.news {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 0 27px 0; }
  @media screen and (max-width: 1024px) {
    .news {
      margin-bottom: 20px; } }
  @media screen and (max-width: 965px) {
    .news {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }

.news__title {
  display: none;
  padding: 0;
  margin: 0; }

.news__column-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 51%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%; }
  @media screen and (max-width: 965px) {
    .news__column-left {
      width: 100%;
      margin-bottom: 20px; } }
  @media screen and (max-width: 768px) {
    .news__column-left {
      min-height: 450px; } }
  @media screen and (max-width: 554px) {
    .news__column-left {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.news-col-4 {
  width: 23.07692%;
  min-width: 270px; }
  @media screen and (max-width: 1024px) {
    .news-col-4 {
      width: 23.07692%;
      min-width: 235px; } }
  @media screen and (max-width: 986px) {
    .news-col-4 {
      min-width: 230px; } }
  @media screen and (max-width: 965px) {
    .news-col-4 {
      width: 45%; } }
  @media screen and (max-width: 965px) {
    .news-col-4 {
      width: 45%; } }
  @media screen and (max-width: 554px) {
    .news-col-4 {
      width: 100%; } }

.news__card {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  position: relative;
  overflow: hidden;
  height: 100%;
  margin-right: 30px; }
  @media screen and (max-width: 768px) {
    .news__card {
      margin: 0 0 20px 0; } }
  @media screen and (max-width: 554px) {
    .news__card {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .news__card--art {
    margin: 0; }
  .news__card img {
    width: 100%;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    display: block; }
  @media screen and (max-width: 1024px) {
    .news__card {
      margin-right: 20px; } }

.news__card--cars {
  height: 100%; }
  @media screen and (max-width: 1000px) {
    .news__card--cars {
      margin-right: 15px; } }
  @media screen and (max-width: 965px) {
    .news__card--cars {
      width: 50%; } }
  @media screen and (max-width: 768px) {
    .news__card--cars {
      width: 50%;
      height: 100%;
      margin: 0;
      -webkit-border-radius: 6px 0 0 6px;
              border-radius: 6px 0 0 6px; } }
  @media screen and (max-width: 554px) {
    .news__card--cars {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 15px;
      -webkit-border-radius: 6px;
              border-radius: 6px; } }
  .news__card--cars img {
    display: block;
    -webkit-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
    height: 229px; }
    @media screen and (max-width: 1024px) {
      .news__card--cars img {
        height: 192px;
        width: 80%; } }
    @media screen and (max-width: 965px) {
      .news__card--cars img {
        height: 300px;
        width: 100%; } }
    @media screen and (max-width: 554px) {
      .news__card--cars img {
        height: auto; } }
  .news__card--cars .news__card-title {
    color: #454553;
    font-family: "Lato", sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 0;
    margin: 0 0 5px;
    -webkit-border-radius: 6px;
            border-radius: 6px; }
  .news__card--cars .news__card-subtitle {
    color: #8c8c99;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.006rem;
    padding: 0;
    margin: 0 0 20px; }
    @media screen and (max-width: 965px) {
      .news__card--cars .news__card-subtitle {
        width: 100%;
        margin-right: 0;
        padding-bottom: 165px; } }
    @media screen and (max-width: 880px) {
      .news__card--cars .news__card-subtitle {
        padding-bottom: 146px; } }
    @media screen and (max-width: 768px) {
      .news__card--cars .news__card-subtitle {
        padding-bottom: 40px;
        margin-bottom: 0; } }
    @media screen and (max-width: 720px) {
      .news__card--cars .news__card-subtitle {
        padding-bottom: 20px; } }

.news__card--outdoors {
  position: relative;
  height: 100%; }
  @media screen and (max-width: 965px) {
    .news__card--outdoors {
      width: 50%;
      margin-right: 0; } }
  @media screen and (max-width: 768px) {
    .news__card--outdoors {
      width: 50%;
      padding: 0;
      height: 100%;
      margin: 0;
      -webkit-border-radius: 0 6px 6px 0;
              border-radius: 0 6px 6px 0; } }
  @media screen and (max-width: 554px) {
    .news__card--outdoors {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .news__card--outdoors .news__card-subtitle-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 10px;
    max-width: 168px; }
    .news__card--outdoors .news__card-subtitle-wrapper img {
      display: block;
      width: 24px;
      height: 24px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      margin-right: 4px; }
  .news__card--outdoors .news__card-title {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 1.625rem;
    font-weight: 400;
    margin: 0 0 20px;
    padding: 0;
    max-width: 185px; }
  .news__card--outdoors .news__card-subtitle {
    padding: 0;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.075rem;
    margin-right: 6px; }
  .news__card--outdoors .time {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    margin-right: 6px; }

.news__card-descr {
  background-color: #f7f7f9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 29px 20px 14px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 1024px) {
    .news__card-descr {
      padding: 20px 20px 10px; } }
  .news__card-descr--cars {
    min-width: 270px;
    -webkit-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px; }
    @media screen and (max-width: 965px) {
      .news__card-descr--cars {
        width: 100%; } }
    @media screen and (max-width: 768px) {
      .news__card-descr--cars {
        -webkit-border-radius: 0;
                border-radius: 0; } }
  .news__card-descr--outdoors {
    padding: 203px 30px 38px;
    left: 0;
    bottom: 0;
    background: transparent;
    position: relative;
    overflow: hidden; }
    @media screen and (max-width: 1024px) {
      .news__card-descr--outdoors {
        height: 100%;
        padding-top: 153px; } }
    @media screen and (max-width: 965px) {
      .news__card-descr--outdoors {
        padding-top: 389px; } }
    @media screen and (max-width: 768px) {
      .news__card-descr--outdoors {
        -webkit-border-radius: 0;
                border-radius: 0;
        padding-top: 262px; } }
    @media screen and (max-width: 554px) {
      .news__card-descr--outdoors {
        padding-top: 400px; } }
    @media screen and (max-width: 400px) {
      .news__card-descr--outdoors {
        padding-top: 300px; } }
  .news__card-descr--art {
    width: 23.07692%;
    -webkit-border-radius: 6px 0 0 6px;
            border-radius: 6px 0 0 6px; }
    @media screen and (max-width: 965px) {
      .news__card-descr--art {
        width: 50%; } }
    @media screen and (max-width: 554px) {
      .news__card-descr--art {
        width: 100%; } }

.news__image-wrapper {
  position: relative;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  width: 300px; }
  @media screen and (max-width: 965px) {
    .news__image-wrapper--cars {
      width: 100%; } }
  .news__image-wrapper--outdoor {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-border-radius: 0 6px 6px 0;
            border-radius: 0 6px 6px 0; }
  @media screen and (max-width: 1170px) {
    .news__image-wrapper--art {
      width: 270px; } }
  @media screen and (max-width: 1024px) {
    .news__image-wrapper--art {
      width: 247px; } }
  @media screen and (max-width: 965px) {
    .news__image-wrapper--art {
      width: 50%; } }
  @media screen and (max-width: 554px) {
    .news__image-wrapper--art {
      width: 100%; } }

.news__image--outdoors {
  display: block;
  -webkit-border-radius: 0;
          border-radius: 0; }

.news__card-category {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 13.5px;
  text-transform: uppercase;
  letter-spacing: 0.063rem; }
  .news__card-category--cars {
    position: absolute;
    left: 29px;
    bottom: 20px;
    color: #fff; }
    .news__card-category--cars span {
      background-color: #d47e8e; }
  .news__card-category--outdoor {
    color: #fff; }
    .news__card-category--outdoor span {
      background-color: #5beeaf; }
  .news__card-category span {
    display: block;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-right: 4px; }
  .news__card-category--art {
    color: #454553;
    font-weight: 700;
    margin-bottom: 15px; }
    .news__card-category--art span {
      background-color: #4a90e2; }
    @media screen and (max-width: 1024px) {
      .news__card-category--art {
        margin-bottom: 10px; } }

.news__card--art {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-flow: row-reverse nowrap;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
  margin-right: 0; }
  @media screen and (max-width: 965px) {
    .news__card--art {
      width: 100%;
      margin: 0 auto;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-border-radius: 6px;
              border-radius: 6px;
      padding: 0; } }
  @media screen and (max-width: 965px) {
    .news__card--art {
      width: 100%;
      margin: 0 auto;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-border-radius: 6px;
              border-radius: 6px;
      padding: 0; } }
  @media screen and (max-width: 554px) {
    .news__card--art {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      width: 100%; } }
  .news__card--art img {
    height: 100%;
    width: 300px;
    -webkit-border-radius: 0 6px 6px 0;
            border-radius: 0 6px 6px 0; }
    @media screen and (max-width: 1024px) {
      .news__card--art img {
        width: 100%; } }
  .news__card--art .news__card-title {
    color: #454553;
    font-family: "Lato", sans-serif;
    font-size: 1.375rem;
    font-weight: 700;
    padding: 0;
    margin: 0 0 10px;
    max-width: 215px; }
    @media screen and (max-width: 1024px) {
      .news__card--art .news__card-title {
        margin-bottom: 12px;
        font-size: 1.25rem; } }
    @media screen and (max-width: 965px) {
      .news__card--art .news__card-title {
        max-width: 100%; } }
    @media screen and (max-width: 768px) {
      .news__card--art .news__card-title {
        max-width: 100%;
        font-size: 1.375rem; } }
  .news__card--art .news__card-subtitle {
    color: #454553;
    font-family: "Lato", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.007rem;
    max-width: 215px;
    padding: 0;
    margin: 0 0 25px; }
    .news__card--art .news__card-subtitle span {
      color: #4aa0d5; }
    @media screen and (max-width: 1024px) {
      .news__card--art .news__card-subtitle {
        font-size: 1rem;
        line-height: 22px;
        margin-bottom: 12px; } }
    @media screen and (max-width: 965px) {
      .news__card--art .news__card-subtitle {
        max-width: 100%; } }
    @media screen and (max-width: 768px) {
      .news__card--art .news__card-subtitle {
        max-width: 100%;
        font-size: 1.125rem;
        padding-bottom: \183px; } }

.news__card-testimonials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px 0;
  border-top: 1px solid #e7e7e7;
  margin-top: auto; }
  .news__card-testimonials .far {
    color: rgba(69, 69, 83, 0.5);
    font-size: 0.875rem; }
  .news__card-testimonials .count {
    padding: 0;
    margin: 0;
    color: rgba(69, 69, 83, 0.5);
    font-family: "Lato", sans-serif;
    font-size: 0.75rem;
    font-weight: 400; }
  .news__card-testimonials .count--like {
    margin: 0 20px 0 8px; }
  .news__card-testimonials .count--comment {
    margin: 0 37px 0 6px; }
    @media screen and (max-width: 1024px) {
      .news__card-testimonials .count--comment {
        margin-right: 15px; } }
  .news__card-testimonials .count--time {
    margin: 0 0 0 4px;
    white-space: nowrap; }

.video {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #f7f7f9;
  margin: 0 0 27px 0;
  padding: 25px 0 31px; }
  @media screen and (max-width: 1024px) {
    .video {
      margin-bottom: 20px; } }
  @media screen and (max-width: 460px) {
    .video {
      padding-bottom: 16px; } }

.video__heading-wrap {
  margin: 0 51px 31px 51px;
  position: relative; }
  @media screen and (max-width: 460px) {
    .video__heading-wrap {
      padding-bottom: 5px;
      margin-bottom: 0; } }

.video__heading {
  width: 100%;
  padding: 0 19px 14px 0;
  border-bottom: 1px solid #e7e7e7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative; }
  @media screen and (max-width: 582px) {
    .video__heading {
      padding-bottom: 30px; } }

.video__title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap; }

.video__title {
  color: #454553;
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  padding: 0;
  margin: 0 21px; }

.autoplay-wrap label {
  display: inline-block;
  color: #454553;
  font-family: "Lato", sans-serif;
  font-size: 0.813rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  position: relative;
  cursor: pointer; }
  @media screen and (max-width: 582px) {
    .autoplay-wrap label {
      display: none; } }

.autoplay-wrap input[type=checkbox] {
  display: none;
  position: relative;
  margin-right: 20px;
  height: 18px; }

.autoplay-wrap input[type=checkbox] + label:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  vertical-align: -20%;
  content: '';
  width: 30px;
  height: 18px;
  border: 2px solid #ddd;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  margin-right: 4px;
  background-color: #fbe5e5; }

.autoplay-wrap input[type=checkbox] + label:after {
  position: absolute;
  left: 4px;
  top: 49%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  content: '';
  width: 9px;
  height: 9px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
  background-color: #49a0d5;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out; }

.autoplay-wrap input[type=checkbox]:checked + label:after {
  left: 16px; }

.autoplay-wrap input[type=checkbox]:checked + label:before {
  background-color: transparent; }

/* /--Autoplay checkbox wrapper-- */
.video-next,
.video-prev {
  color: rgba(158, 158, 166, 0.5);
  cursor: pointer;
  height: 10px;
  width: 10px;
  font-size: 0.85rem; }

.video__slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  max-width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px 0 30px;
  margin: 0 30px; }
  @media screen and (max-width: 1024px) {
    .video__slider {
      margin: 0;
      padding: 10px 20px 0 20px; } }
  @media screen and (max-width: 676px) {
    .video__slider {
      padding: 10px 20px 0 30px; } }
  @media screen and (max-width: 460px) {
    .video__slider {
      padding: 10px 20px 0 20px; } }

.video__slide {
  margin: 0;
  padding: 0 15px 0 15px;
  position: relative; }
  @media screen and (max-width: 1024px) {
    .video__slide {
      padding: 0 15px 0 15px;
      margin: 0; } }
  @media screen and (max-width: 460px) {
    .video__slide {
      padding-top: 0; } }
  .video__slide:last-child {
    margin-right: 0; }

.video-wrapper {
  position: relative;
  margin-bottom: 7px;
  width: 180px;
  -webkit-border-radius: 6px;
          border-radius: 6px; }
  @media screen and (max-width: 460px) {
    .video-wrapper {
      margin: 0 auto 7px;
      width: 100%; } }
  .video-wrapper:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: url("../img/play-icon-small.png") center center no-repeat;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    z-index: 3;
    pointer-events: none; }

.video-duration {
  position: absolute;
  min-width: 40px;
  text-align: center;
  top: 8px;
  right: 8px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: rgba(34, 34, 37, 0.5);
  z-index: 2;
  margin: 0;
  padding: 5px 6px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 0.625rem;
  font-weight: 700; }
  @media screen and (max-width: 460px) {
    .video-duration {
      right: 56px; } }
  @media screen and (max-width: 350px) {
    .video-duration {
      right: 35px; } }

.video__clip {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  cursor: pointer;
  width: 180px;
  height: 140px; }
  @media screen and (max-width: 460px) {
    .video__clip {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
      width: 100%;
      height: 100%; } }

.video__slide-title {
  margin: 0 0 5px 0;
  padding: 0;
  color: #454553;
  font-family: "$base-font";
  font-size: 0.875rem;
  font-weight: 900; }
  @media screen and (max-width: 460px) {
    .video__slide-title {
      text-align: center; } }

.video__slide-subtitle {
  padding: 0;
  margin: 0;
  color: rgba(69, 69, 83, 0.5);
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  font-weight: 700; }
  @media screen and (max-width: 460px) {
    .video__slide-subtitle {
      text-align: center; } }

.footer {
  background-color: #454553;
  padding: 62px 100px 88px;
  margin: 0;
  -webkit-border-radius: 6px;
          border-radius: 6px; }
  .footer img {
    display: block; }
  @media screen and (max-width: 768px) {
    .footer {
      padding: 30px 44px 80px; } }

.footer__heading {
  margin: 0 auto 42px;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background-attachment: initial;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer__title {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 1.875rem;
  font-weight: 900;
  padding: 0;
  margin: 0 0 0 7px; }

.footer__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Firefox 19+ */
  /* Firefox 18- */ }
  .footer__main input[type=email] {
    width: 224px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    margin: 0;
    padding: 12px;
    font-family: "Lato", sans-serif;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    -webkit-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out; }
  .footer__main #footer__email::-webkit-input-placeholder {
    color: #ffffff80; }
  .footer__main #footer__email::-moz-placeholder {
    color: #ffffff80; }
  .footer__main #footer__email:-moz-placeholder {
    color: #ffffff80; }
  .footer__main #footer__email:-ms-input-placeholder {
    color: #ffffff80; }
  .footer__main #footer__email::-webkit-input-placeholder {
    text-indent: 0px;
    -webkit-transition: text-indent 0.5s ease;
    -o-transition: text-indent 0.5s ease;
    transition: text-indent 0.5s ease; }
  .footer__main #footer__email::-moz-placeholder {
    text-indent: 0px;
    -webkit-transition: text-indent 0.5s ease;
    -o-transition: text-indent 0.5s ease;
    transition: text-indent 0.5s ease; }
  .footer__main #footer__email:-moz-placeholder {
    text-indent: 0px;
    -webkit-transition: text-indent 0.5s ease;
    -o-transition: text-indent 0.5s ease;
    transition: text-indent 0.5s ease; }
  .footer__main #footer__email:-ms-input-placeholder {
    text-indent: 0px;
    -webkit-transition: text-indent 0.5s ease;
    -o-transition: text-indent 0.5s ease;
    transition: text-indent 0.5s ease; }
  .footer__main #footer__email:focus::-webkit-input-placeholder {
    text-indent: 500px;
    -webkit-transition: text-indent 0.5s ease;
    -o-transition: text-indent 0.5s ease;
    transition: text-indent 0.5s ease; }
  .footer__main #footer__email:focus::-moz-placeholder {
    text-indent: 500px;
    -webkit-transition: text-indent 0.5s ease;
    -o-transition: text-indent 0.5s ease;
    transition: text-indent 0.5s ease; }
  .footer__main #footer__email:focus:-moz-placeholder {
    text-indent: 500px;
    -webkit-transition: text-indent 0.5s ease;
    -o-transition: text-indent 0.5s ease;
    transition: text-indent 0.5s ease; }
  .footer__main #footer__email:focus:-ms-input-placeholder {
    text-indent: 500px;
    -webkit-transition: text-indent 0.5s ease;
    -o-transition: text-indent 0.5s ease;
    transition: text-indent 0.5s ease; }
  .footer__main .footer__email-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    border: none; }
  .footer__main input[type=submit] {
    position: absolute;
    background: url("../img/submit-arrow.png") center right no-repeat;
    border: none;
    right: 17px;
    top: 50%;
    -webkit-transform: translatey(-50%);
        -ms-transform: translatey(-50%);
            transform: translatey(-50%);
    width: 30px;
    cursor: pointer; }

.footer__address {
  max-width: 156px; }
  .footer__address a {
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; }

.footer__social-list {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 0;
  margin: 0; }

.footer__social-item {
  margin-right: 25px; }
  .footer__social-item:last-child {
    margin: 0; }

.footer__social-link {
  text-decoration: none;
  display: block;
  color: #fff;
  opacity: 0.5; }
  .footer__social-link i {
    font-size: 23px; }
