.btn {
    text-transform: uppercase;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    
}

.btn--video {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #49a0d5;
    font-family: $base-font;
    color: #fff;
    font-size: 0.875rem;
    padding: 17px 33px;
    transition: color, background-color, box-shadow 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    @media screen and (max-width: 1024px) {
       bottom: 66px;
    }

    @media screen and (max-width: 958px) {
        font-size: 0.8rem;
        padding: 14px 29px;
        bottom: 60px;
    }

    @media screen and (max-width: 768px) {
        bottom: 50px;
        font-size: 0.6rem;
        padding: 9px 20px;
    }

    
    &:hover {
        background-color: #fff;
        color: #7b91af;
        box-shadow: 0 5px 20px rgba(168, 173, 187, 0.8);
    }

    

 
  
}
