
.intro__slider{
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}


.intro__slide {
    position: relative;
    z-index: 1;
    border-radius: 6px;

  
}


.intro__img {
    
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
    filter: blur(4px) opacity(50%);
}




.prev, 
.next {
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin: 0;
    cursor: pointer;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 50%;

    &:hover {
        color:  rgba(255, 255, 255, 0.35);
        border: 1px solid #fff;
    }
}
.prev {
    left: 70px;
}
.next {
    right: 70px;

}


 .slick-dots{
    bottom: 32px;

    li {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        border: none;
        border: 2px solid transparent;
        background-color: rgba(255, 255, 255, 0.35);
        
    }

    .slick-active {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        border: 2px solid #fff;
    }
 }
    .video__wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        z-index: 2;
        cursor: pointer;
        
        
    }

    video {
        position: relative;
        z-index: 2;
    }
    

