.intro {
    border-radius: 6px;
    background-color: #232428;
    width: 100%; 
    padding: 0;
    margin: 0;         
}

.preview {
    max-width: 1200px;
}
.intro__slider {
    width: 100%;
}
.intro__slide {
    width: 100%;
}