.news {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;    
    margin: 0 0 27px 0;

    @media screen and (max-width: 1024px) {
        margin-bottom: 20px;
    }

    @media screen and (max-width: 965px) {
    flex-wrap: wrap;    
    }
}
.news__title {
    display: none;
    padding: 0;
    margin: 0;
}

.news__column-left {
    display: flex;
    width: 51%;
    flex-flow: row nowrap;
    align-items: stretch;
    height: 100%;

    @media screen and (max-width: 965px) {
        width: 100%;
        margin-bottom: 20px;
    }

    @media screen and (max-width: 768px) {
        min-height: 450px;
    }

    @media screen and (max-width: 554px) {
        width: 100%;
        flex-direction: column;
    }

}
.news-col-4 {
   width: 270px / 1170px * 100%;
   min-width: 270px;

    @media screen and (max-width: 1024px) {
        width: 270px / 1170px * 100%;
        min-width: 235px;
    }

    @media screen and (max-width: 986px) {
        min-width: 230px;
    }

    @media screen and (max-width: 965px) {
        width: 45%;
    }

    @media screen and (max-width: 965px) {
        width: 45%;
    }

    @media screen and (max-width: 554px) {
        width: 100%;
    }

    @media screen and (max-width: 254px) {
        min-width: 0;
    }
  
}
.news__card {
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    height: 100%;
    
    margin-right: 30px;

    @media screen and (max-width: 768px) {
        margin: 0 0 20px 0;
    }

    @media screen and (max-width: 554px) {
        width: 100%;
        flex-direction: column; 
    }

    &--art {
        margin: 0;


    }

    img {
        width: 100%;
        // flex-grow: 1;
        flex-shrink: 0;
        display: block;
        // border-radius: 6px;
    }

    @media screen and (max-width: 1024px) {
        margin-right: 20px;
    }
  
}

//CARS

.news__card--cars {
    height: 100%;
    @media screen and (max-width: 1000px) {
        margin-right: 15px;
    }

   @media screen and (max-width: 965px) {
        width: 50%;
    }
    @media screen and (max-width: 768px) {
        width: 50%;
        height: 100%;
        margin: 0;
        border-radius: 6px 0 0 6px;
    }

    @media screen and (max-width: 554px) {
        width: 100%;
        flex-direction: column;
        margin-bottom: 15px;
        border-radius: 6px; 
    }

    img {
        display: block;
        border-radius: 6px 6px 0 0;
        height: 229px;

        @media screen and (max-width: 1024px) {
            height: 192px;
            width: 80%; 
        }
        @media screen and (max-width: 965px) {
            height: 300px;
            width: 100%;
            
        }

        @media screen and (max-width: 554px) {
            height: auto;   
        }
      
    }

    

    .news__card-title {
        color: #454553;
        font-family: $base-font;
        font-size: 1.125rem;
        font-weight: 700;
        padding: 0;
        margin: 0 0 5px;
        border-radius: 6px;

        @media screen and (max-width: 254px) {
            font-size: 1rem; 
        }
    }

    .news__card-subtitle {
        color: #8c8c99;
        font-family: $base-font;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.006rem;
        padding: 0;
        margin: 0 0 20px;

        @media screen and (max-width: 965px) {
            width: 100%;
            margin-right: 0;
            padding-bottom: 165px;
        }

        @media screen and (max-width: 880px) {
            padding-bottom: 146px;
        }

        @media screen and (max-width: 768px) {
            padding-bottom: 40px;
            margin-bottom: 0;
         
        }

        @media screen and (max-width: 720px) {
            padding-bottom: 20px;
         
        }

        @media screen and (max-width: 254px) {
            font-size: 0.8rem; 
        }

    }
}


//OUTDOORS
.news__card--outdoors {
    position: relative;
    height: 100%;
    
         @media screen and (max-width: 965px) {
         width: 50%;
         margin-right: 0;
        }
    
     @media screen and (max-width: 768px) {
            width: 50%;    
            padding: 0;
            height: 100%;
            margin: 0;
            border-radius: 0 6px 6px 0;
        }

        @media screen and (max-width: 554px) {
        width: 100%;
        flex-direction: column; 
    }

    
    .news__card-subtitle-wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 10px;
        max-width: 168px;
        
        
        // weird circle near the heading
        img {
            display: block;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-right: 4px;
        }
    }
    .news__card-title {
        color: #fff;
        font-family: $base-font;;
        font-size: 1.625rem;
        font-weight: 400;
        margin: 0 0 20px;
        padding: 0;
        max-width: 185px;
    }
    .news__card-subtitle {
        padding: 0;
        color: #fff;
        font-family: $base-font;
        font-size: 0.75rem;
        font-weight: 700;
        letter-spacing: 0.075rem;
        margin-right: 6px;

        
    }

    .time {
        color: #fff;
        font-family: $base-font;
        font-size: 0.75rem;
        font-weight: 400;
        margin-right: 6px;

    }

    

    
}


.news__card-descr {
    background-color: #f7f7f9;
    display: flex;
    flex-flow: column wrap;
    padding: 29px 20px 14px;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
        padding: 20px 20px 10px;
    }
    
    &--cars {
        min-width: 270px;
        border-radius: 0 0 6px 6px;
    
        @media screen and (max-width: 965px) {
        width: 100%;
            
        }
         @media screen and (max-width: 768px) {
            border-radius: 0;
        }   

        @media screen and (max-width: 254px) {
            min-width: 0;
            max-width: 100%;
        }  
    
    }

    &--cars-it {
        padding: 15px 20px 10px;
    }

    &--outdoors {
        padding: 216px 30px 38px;
        left: 0;
        bottom: 0;
        background: transparent;
        position: relative;
        overflow: hidden;

        @media screen and (max-width: 1024px) {
             height: 100%;
             padding-top: 166px;
        }

        @media screen and (max-width: 965px) {
            padding-top: 401px;
        }
        @media screen and (max-width: 768px) {
            border-radius: 0;
            padding-top: 275px;
        }

        @media screen and (max-width: 554px) {
            padding-top: 400px;
            border-radius: 6px;
        }
        
        @media screen and (max-width: 400px) {
            padding-top: 300px;
        }
    
    }

    &--art {
        width: 270px / 1170px * 100%;
        border-radius: 6px 0 0 6px;

        @media screen and (max-width: 965px) {
            width: 50%;
            
        }

        @media screen and (max-width: 554px) {
            width: 100%;
            border-radius: 6px 0 0 0;
        }

    }


}

.news__image-wrapper {
    position: relative;
    border-radius: 6px;
    width: 300px;   
    

    &--cars {
        @media screen and (max-width: 965px) {
            width: 100%;
        }
    }

    &--outdoor {
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 0 6px 6px 0;

        
    }

    &--art {
        @media screen and (max-width: 1170px) {
            width: 270px;
        }
        @media screen and (max-width: 1024px) {
            width: 247px;
        }
        @media screen and (max-width: 965px) {
            width: 50%;
        }

        @media screen and (max-width: 554px) {
            width: 100%;
            border-radius: 0;
        }
    }

    
}

.news__image--outdoors {
    display: block;
    border-radius: 0;
    
}

.news__image--art {
    display: block;
    border-radius: 0;
    
}


.news__card-category {
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-decoration: none;

    font-family: $base-font;
    font-size: 0.625rem;
    font-weight: 700;
    line-height: 13.5px;
    text-transform: uppercase;
    letter-spacing: 0.063rem;

    &--cars {
        position: absolute;
        left: 29px;
        bottom: 20px;
        color: #fff;


        span {
             background-color: #d47e8e;        
        }
    }

    &--outdoor {
      
        color: #fff;

        span {
            background-color: #5beeaf;
        }
    }

    span {
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 4px;
        
    }

    &--art {
        color: #454553;
        font-weight: 700;
        margin-bottom: 15px;
        span {
            background-color: #4a90e2;
        }

        @media screen and (max-width: 1024px) {
            margin-bottom: 10px;
        }

        
    }
}
//ART
.news__card--art {
    display: flex;
    flex-flow: row-reverse nowrap;
    margin-right: 0;

    @media screen and (max-width: 965px) {
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        border-radius: 6px;
        padding: 0;
    }

    @media screen and (max-width: 965px) {
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        border-radius: 6px;
        padding: 0;
    }

    @media screen and (max-width: 554px) {
        flex-direction: column-reverse;
        width: 100%;
    }

    img {
        height: 100%;
        width: 300px;
        border-radius: 0 6px 6px 0;

         @media screen and (max-width: 1024px) {
            width: 100%;
        }

       
    }
    .news__card-title {
        color: #454553;
        font-family: $base-font;
        font-size: 1.375rem;
        font-weight: 700;
        padding: 0;
        margin: 0 0 10px;
        max-width: 215px;
         @media screen and (max-width: 1024px) {
            margin-bottom: 12px;
            font-size: 1.25rem;
        }

        @media screen and (max-width: 965px) {
            max-width: 100%;
            
        }

         @media screen and (max-width: 768px) {
           max-width: 100%;
           font-size: 1.375rem;
        }
    }

    .news__card-subtitle {
        color: #454553;
        font-family: $base-font;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.007rem;
        max-width: 215px;
        padding: 0;
        margin: 0 0 25px;
        span {
            color: #4aa0d5;
        }
        @media screen and (max-width: 1024px) {
            font-size: 1rem;
            line-height: 22px;
            margin-bottom: 12px;
        }

        @media screen and (max-width: 965px) {
            max-width: 100%;
            
        }

        @media screen and (max-width: 768px) {
            max-width: 100%;
            font-size: 1.125rem;
            padding-bottom: 183px; 

        }

        @media screen and (max-width: 554px) {
            padding-bottom: 5px;
        }
   
    }
    
}

.news__card-testimonials {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 8px 12px 0;
    border-top: 1px solid #e7e7e7;
    margin-top: auto;
    
    @media screen and (max-width: 254px) {
            padding: 8px 0 0;
        }

    .far {
        color: rgba(69, 69, 83, 0.5);
        font-size: 0.875rem;
    }
 
    .count {
        padding: 0;
        margin: 0;
        color: rgba(69, 69, 83, 0.5);
        font-family: $base-font;
        font-size: 0.75rem;
        font-weight: 400;
    }
     .count--like {
         margin: 0 20px 0 8px;
     }  

     .count--comment {
         margin: 0 37px 0 6px;
         
         @media screen and (max-width: 1024px) {
            margin-right: 15px;
        }
     }

     .count--time {
         margin: 0 0 0 4px;
         white-space: nowrap;
     }
}