.storage {
    @include block-radius;
    background-color: #f7f7f9;
    padding: 23px 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0 30px;

    @media screen and (max-width: 1024px) {
        margin-bottom: 20px;
    }

     @media screen and (max-width: 528px) {
            padding-bottom: 25px;
         }
}
.storage__heading {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0 17px;
    padding: 0;
}
.storage__title {
    padding: 0;
    margin: 0 21px;
    color: #454553;
    font-family: $base-font;
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: uppercase;

    
}

.storage-next,
.storage-prev {
      color: rgba(69, 69, 83, 0.5);
      cursor: pointer;
    }


.storage__slider{
    width: 100%;
    padding: 0 30px; 

    @media screen and (max-width: 608px) {
        padding: 0;
    }
}
.storage__slide {
    width: 33%;
    display: flex;
    flex-flow: row nowrap;

    &:nth-child(3n)  .storage__item--descr{
        
        border: none;
    
    }

    @media screen and (max-width: 768px) {
        width: 45%;
    }
}


.storage__item {
    padding: 0;
    margin-right: 30px;
    display: flex;
    flex-flow: row nowrap;

    img {
        flex-basis: 100px;
        width: 150px;
        height: auto;
        display: block;

         @media screen and (max-width: 1024px) {
                    width: 110px;
                    height: calc(120px*1.2);
         }

          @media screen and (max-width: 768px) {
                    width: 150px;
                    height: auto;
         }
    
         @media screen and (max-width: 600px) {
                    width: 130px;
                    height: 100%;
         }
    }

    @media screen and (max-width: 528px) {
            justify-content: center;
         }
}
    .storage__item--descr {
        margin-top: 14px;
        text-align-last: left;
        padding-right: 50px ;
        border-right: 1px solid #dddde4;

        
         @media screen and (max-width: 1024px) {
           border: none;                    
                }
    }

    .storage__item-category {
    color: #454553;
    font-family: $base-font;
    font-size: 0.875rem;
    font-weight: 300;
    padding: 0;
    margin: 0 0 9px;

    @media screen and (max-width: 600px) {
        margin-bottom: 5px;    
    }
}

 .storage__item-status {
        display: inline-block;
        text-decoration: none;
        margin: 0 0 17px;
        border-radius: 4px;
        padding: 6px 10px;
        text-transform: uppercase;
        font-family: $base-font;
        color: #fff;
        font-size: 0.688rem;
        
         @media screen and (max-width: 768px) {
            margin-bottom: 10px;                    
         }
         
         @media screen and (max-width: 600px) {
            margin-bottom: 5px;    
        }

        &--new {
            background-color: #f2a77e;
        }

         &--best {
            background-color: #b9aada;
        }

         &--bio {
            background-color: #bbcc76;
        }

         

    }
    
    
    .storage__item-name {
        color: #454553;
        font-family: $base-font;
        font-size: 1.175rem;
        font-weight: 400;
        white-space: nowrap;
        padding: 0;
        margin: 0 0 15px;

        @media screen and (max-width: 600px) {
            font-size: 1rem;
            margin-bottom: 10px;
         }
    }

    .buy--btn {
        display: inline-block;
        border-radius: 16px;
        border: 1.5px solid rgba(69, 69, 83, 0.3);
        margin: 0;
        padding: 7px 21px;
        text-decoration: none;
        color: #454553;
        background: transparent;

        font-family: $base-font;    
        font-size: 0.875rem;
        font-weight: 700;
        white-space: nowrap;
    }