.video {
    border-radius: 6px;
    background-color: #f7f7f9;
    margin: 0 0 27px 0;
    padding: 25px 0 31px;

    @media screen and (max-width: 1024px) {
        margin-bottom: 20px;
    }

     @media screen and (max-width: 460px) {
        padding-bottom: 16px;
                
    }

    .slick-disabled {
        opacity: 0.5;
        cursor: auto;
    }
}

// wrapper for correct positioning slider and border of the heading 
.video__heading-wrap {
    margin: 0 51px 31px 51px;
    position: relative;

    @media screen and (max-width: 662px) {
        padding-bottom: 15px;
        margin-bottom: 0;        
    }
}
.video__heading {
    width: 100%;
    padding: 0 19px 14px 0; 
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    @media screen and (max-width: 582px) {
            padding-bottom: 30px;
        }

}

// HEADING TITLE
.video__title-wrap {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

}
.video__title {
    color: #454553;
    font-family: $base-font;
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    padding: 0;
    margin: 0 21px;
}

.autoplay-wrap {
    label {
        display: inline-block;
        color: #454553;
        font-family: $base-font;
        font-size: 0.813rem;
        font-weight: 700;
        margin: 0;
        padding: 0;
        vertical-align: middle;
        position: relative;
        cursor: pointer;

        @media screen and (max-width: 582px) {
            display: none;
        }
    }


// checkbox
input[type=checkbox] {
    display: none;
    position: relative;
    margin-right: 20px;
    height: 18px;
    
}

// trigger field OFF mode
input[type=checkbox] + label:before {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: -20%;
    content: '';
    width: 30px;
    height: 18px;
    border: 2px solid #ddd;   
    border-radius: 9px;
    margin-right: 4px;
    background-color: #fbe5e5;
}

// blue trigger in OFF mode
input[type=checkbox] + label:after {
    position: absolute;
    left: 4px;
    top: 49%;
    transform: translateY(-50%);
    content: '';
    width: 9px;
    height: 9px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    background-color: #49a0d5;
    border-radius: 50%;
    transition: left 0.3s ease-in-out;
}
        // blue trigger in OFF mode
        input[type=checkbox]:checked + label:after {
            left: 16px;
            
        }
        
        // trigger field in ON mode
        input[type=checkbox]:checked + label:before {
            background-color: transparent;
        }
    }   /* /--Autoplay checkbox wrapper-- */     

        // slider-controls
        .video-next,
        .video-prev {
              color: rgba(158, 158, 166, 0.5);
              cursor: pointer;
              height: 10px;
              width: 10px;
              font-size: 0.85rem;
            }
// SLIDER =========
        .video__slider { 
            display: flex;
            flex-flow: row nowrap;
            max-width: 100%;
            align-items: center;
            justify-content: space-between;
            padding: 0 30px 0 30px;
            margin: 0 30px;

            
             @media screen and (max-width: 1024px) {
                margin: 0;
                padding: 10px 20px 0 20px; 
                 
            }

             @media screen and (max-width: 676px) {
                
                padding: 10px 20px 0 30px; 
                 
            }

             @media screen and (max-width:460px) {
                
                padding: 10px 20px 0 20px; 
                 
            }

        }
        .video__slide {
            margin: 0;
            padding: 0 15px 0 15px;
            position: relative;
            outline: none;

            @media screen and (max-width: 1024px) {
                padding: 0 15px 0 15px;
                margin: 0;
                
            }
            
            @media screen and (max-width: 460px) {
                padding-top: 0;
                
            }

            &:last-child {
                margin-right: 0;
            }

                     
        }

        .video-wrapper {
            position: relative;
            margin-bottom: 7px;
            width: 180px;
            border-radius: 6px;


            @media screen and (max-width: 460px) {
                margin: 0 auto 7px;
                width: 100%;
                
            }
            
            
            &:before{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                background: url('../img/play-icon-small.png') center center no-repeat;
                transform: translate(-50%, -50%);
                width: 40px;
                height: 40px;
                border: 2px solid #fff;
                border-radius: 50%;
                z-index: 3;
                pointer-events: none;
                
            }

       
        }

        .video-duration {
            position: absolute;
            min-width: 40px;
            text-align: center;
            top: 8px;
            right: 8px;
            border-radius: 3px;
            background-color: rgba(34, 34, 37, 0.5);
            z-index: 2;
            margin: 0;
            padding: 5px 6px;

            color: #fff;
            font-family: $base-font;
            font-size: 0.625rem;
            font-weight: 700;

            @media screen and (max-width: 460px) {
                right: 56px;
                
            }

            @media screen and (max-width: 350px) {
                right: 35px;
                
            }

        }

       


       
        .video__clip {
            
            border-radius: 6px;
            box-sizing: border-box;
            position: relative;
            cursor: pointer;
            width: 180px;
            height: 140px;

            @media screen and (max-width: 672px) {
                // width: 270px;
            }

            @media screen and (max-width: 460px) {
                justify-content: center;
                text-align: center;
                width: 100%;
                height: 100%;
            }

                     
        }

      

        .video__slide-title {
            margin: 0 0 5px 0;
            padding: 0;
            color: #454553;
            font-family: "$base-font";
            font-size: 0.875rem;
            font-weight: 900;

            
            @media screen and (max-width: 460px) {
                text-align: center;
            }
        }

        .video__slide-subtitle {
            padding: 0;
            margin: 0;
            color: rgba(69, 69, 83, 0.5);
            font-family: $base-font;
            font-size: 0.75rem;
            font-weight: 700;

            @media screen and (max-width: 460px) {
                text-align: center;
            }
        }
